{% extends 'base.html'%}
<!--  -->
{% load static %}
<!--  -->
{% block title%} {{page_title}}{% endblock title%}
<!--  -->
{% block cssStyle%}
<!-- it gos to App/static/'appname/css/fileName' -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'theBlogNew/css/home.css' %}" />
<link rel="stylesheet" href="{% static 'theBlogNew/css/blogCard.css' %}" />
{% endblock cssStyle%}
<!--  -->
{% block app %}
<!--  -->
{% include 'A_theBlogNew\helperHtml\blogCard.html'%}

<div class="container">
  {{ page_title }}
  <br />
  <ul>
    {% for postQuerySet in object_list %}
    <!--  -->
    <li class="ms-1">
      <!--  -->
      <div class="tichhin">
        <a href="{% url 'blog_article' postQuerySet.pk %}">
          <div class="card-body cardPreview">
            {% if postQuerySet.image %}
            <img
              src="{{ postQuerySet.image.url }}"
              class="card-img-top imag"
              alt="..."
            />
            {% endif %}
            <h5 class="card-title">{{ postQuerySet.post_title }}</h5>
            <h6>
              Written By: {{ postQuerySet.author.first_name }} aka
              {{postQuerySet.author.username }}
            </h6>
            <p>{{postQuerySet.updated_at}}</p>
            <small> Edit </small>
            <p class="card-text">{{ postQuerySet.post_content | safe }}</p>
          </div>
        </a>
      </div>
      <br />
    </li>
    {% endfor %}
  </ul>
</div>
<!--  -->

{% endblock app %}
<!--  -->
{% block additionalJs%}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'theBlogNew/js/blogCard.js' %}"></script>
{% endblock additionalJs%}
