a {
    text-decoration: none;
    color: black;
}

ul {
  padding-left: 3px;
}
.tichhin {
        background-color: rgba(35, 194, 133, 0.678);
        height: 400px;
        width: 100%;
        // width: 23rem;
        overflow-y: hidden;
        padding: 10px;
        margin: auto;
        border-radius:20px;
        border: 1px solid #9ae424;
        animation: fadeInUp 1.5s ease-out;
    }
    // added for delayed effect
    @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translate3d(-100px, 0, 0);
        }
        to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
      
    .tichhin:hover{
        -webkit-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 31px 0px rgba(20, 20, 20, 0.75);
        background-color: rgba(7, 83, 54, 0.747);
        transform: scale(1.05);
    }

    ul {
      li {
        list-style-type: none;
        display: inline-block;
      } 
    } 

    .imag {
      max-width: 100%;
      height: 250px;
      margin: auto;
      object-fit: cover;
      object-position: center;
  }