
.matColor{
    background-color: #cfccae;
    border: solid  rgb(131, 128, 98);
    
}

.markaColor{
    background-color: #68bbeb;
    border: solid  rgb(65, 119, 150);
}
.LukaColor{
    background-color: rgb(114, 228, 129);
    border: solid rgb(86, 173, 97);

}

.JohanaColor{
    background-color: rgb(228, 116, 116);
    border: solid rgb(163, 83, 83);
}

.error {
    border: solid red;
    background-color: #a05757;
}   

.toggle1{
    position: relative;
    // background-color: #a05757;
    margin-left: 0px;
    max-width: 100px;
}