{% extends 'base.html'%}
<!--  -->
{% load static %}
<!--  -->
{% block title%} {{page_title}}{% endblock title%}
<!--  -->
<!--  -->
{% block cssStyle%}
<link rel="stylesheet" href="{% static 'B_01BaseApp/css/inkhawm_data.css'%}" />

{% endblock cssStyle%}
<!--  -->
<!--  -->
{% block app%} This is rendered from inkhawm_data.html
<div
  class="container shadow-lg border border-4 border-warning rounded-end bg-warning-subtle"
>
  This is inkhawm data page
  <br />
</div>
<div class="container">
  <p class="h2">
    Page title is :
    <span class="h4 font-italic text-primary"> {{page_title}} </span>
  </p>
</div>

<div class="container-sm bg-success-subtle mx-auto">
  <p class="h4">
    JSON Data using for loop (json.loads(get_response.text) in for loop) is:
  </p>
  <div class="container">{% for key in json_data %} {{key}} {% endfor%}</div>
  <br />
  <p class="h4">json.loads(get_response.text) is: <br /></p>
  <div class="container">{{json_data}}</div>
  <br />
  <br />
  <p class="h4">JSON get_response.text is : <br /></p>
  <div class="container text-break">{{json_js}}</div>
</div>

<br /><br />
<div class="container text-center bg-success-subtle">
  <div class="row">
    <div class="col border border-info">Date</div>
    <div class="col border border-info">Matthaia</div>
    <div class="col border border-info">Marka</div>
    <div class="col border border-info">Luka</div>
    <div class="col border border-info">Johana</div>
    <div class="col border border-info">Leader & Secy.</div>
    <div class="col border border-info">Mikhual/Chhimtu</div>
    <div class="col border border-info">Inkhawm Zawng Zawng</div>
  </div>
  {% for key in json_data %}
  <div class="row">
    <div class="col border border-info">{{key.inkhawm_ni}}</div>
    <div class="col border border-info">
      {{ key.mat_grp_cmt|add:key.mat_members }}
    </div>
    <div class="col border border-info">
      {{ key.marka_grp_cmt|add:key.marka_members }}
    </div>
    <div class="col border border-info">
      {{ key.luka_grp_cmt|add:key.luka_members }}
    </div>
    <div class="col border border-info">
      {{ key.johan_grp_cmt|add:key.johan_members }}
    </div>
    <div class="col border border-info">{{key.leader_secy}}</div>
    <div class="col border border-info">{{key.chhimtu1}}</div>
    <div class="col border border-info">{{key.total}}</div>
  </div>
  {% endfor%}
</div>
<br />
<hr />
<div class="container mx-auto fs-6">
  Inkhawm zat data
  <table
    class="table table-hover table-bordered border-primary bg-success-subtle font-s"
  >
    <tr>
      <td rowspan="2" class="zeropad">SL. No</td>
      <td rowspan="2">Date</td>
      <td colspan="2">Matthaia</td>
      <td colspan="2">Marka</td>
      <td colspan="2">Luka</td>
      <td colspan="2">Johana</td>
      <td rowspan="2">Leader leh Secy</td>
      <td rowspan="2">Chhimtu/ Mikhual Zat</td>
      <td rowspan="2">Inkhawm Zat</td>
    </tr>
    <tr>
      <!-- <td></td> -->
      <!-- <td></td> -->
      <td>Group Cmt.</td>
      <td>Member</td>
      <td>Group Cmt.</td>
      <td>Member</td>
      <td>Group Cmt.</td>
      <td>Member</td>
      <td>Group Cmt.</td>
      <td>Member</td>
    </tr>
    <tr>
      <td>sN</td>
      <td>{{key.inkhawm_ni}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<hr />
<div class="container charts bg-success-subtle align-middle">
  <p class="h3 bg-warning-subtle">Using Google charts</p>
  <div id="chart_div"></div>
  <div id="chart_div2"></div>
</div>
<br />
<div class="container charts bg-success-subtle align-middle">
  <p class="h3 bg-warning-subtle">Using Chart js</p>
  <div class="conatiner bg-warning-subtle">
    <canvas id="myChart2"></canvas>
  </div>
</div>
{% endblock app%}
<!--  -->
<!--  -->
{% block additionalJs%}
<!-- for gchart -->

<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script>
  // console.log({{json_data|safe}});
  console.log("jsond data .text is :");
  var json_data_js = JSON.parse("{{ json_js|escapejs }}");
  // var json_data_js = {{json_js|safe}};
</script>
<!-- gchart ends -->

<!-- for chart js -->
<!-- the order matters notice -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
  integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"
  integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script> -->
<!-- <script src="path/to/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js"></script> -->
<script src="{% static 'B_01BaseApp/js/inkhawm_data.js'%}"></script>
<!-- chart js ends -->
{% endblock additionalJs%}
<!--  -->
